body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

main.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  background-color: #fff;
}

.contact-info,
.contact-form {
  flex: 1 1 400px;
  margin: 1rem;
  padding: 1rem;
  background-color: #f1e9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.contact-info h2,
.contact-form h2 {
  margin-bottom: 1rem;
  color: rgb(97, 64, 128);
}

.contact-info p{
  font-size: large;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin: 0.5rem 0 0.2rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: rgb(97, 64, 128);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #b35ced;
}
